- name: "Ensure user {{ user.username }} exists"
  become: true
  ansible.builtin.user:
    name: "{{ user.username }}"
    state: present

- name: "Ensure SSH public key is present for user {{ user.username }}"
  become: true
  ansible.posix.authorized_key:
    user: "{{ user.username }}"
    key: "{{ user.ssh_pubkey }}"
    state: present
  when: user.ssh_pubkey is defined and user.ssh_pubkey != "" | default(false)

- name: "Add user {{ user.username }} as sudoer"
  become: true
  community.general.sudoers:
    commands: ALL
    name: "{{ user.username }}"
    user: "{{ user.username }}"
    state: "{{ 'present' if user.sudoer | default(false) else 'absent' }}"
    nopassword: true

